<% provide(:title, "Our Ballots") %>
<h3>Create a ballot</h3>
<button type="button" name="button"><%= link_to "Click here", new_ballot_path %></button>
<h3>See Current Ballot Results</h3>
<table>
  <% @ball.each do |b| %>
  <tr>
    <td><%= b.ballot_name %></td>
    <td><button type="button" name="button"><%= link_to "Results", ballot_votes_path(b.id) %></button></td>
    <td><button type="button" name="button"><%= link_to "delete", ballot_path(b.id), :method => :delete, data: { confirm: 'Are you sure?' } %></button></td>
    <% end %>
  </tr>
</table>
