<% provide(:title, @user.name) %>
<div>
  <%= @user.name %>
</div>
<div>
  <h3>Ready to vote? Here are the ballots</h3>
  <% @ball.each do |b| %>
  <%= b.ballot_name %>
  <button type="button" name="button"><%= link_to "Click here", new_user_ballot_vote_path(@user.id, b.id) %></button>
  <% end %>
</div>
