<% provide(:title, @user.name) %>
<div>
  <%= @user.name %>, <%= @user.email %>
</div>
<div>
  <h3>Ready to vote?</h3>
  <button type="button" name="button"><%= link_to "Click here", new_user_vote_path(@user) %></button>
</div>
