<% provide(:title, @user.name) %>
<div>
    <h1><%= @user.name %></h1>
</div>
<div>
  <h3>Ready to vote? Here are the ballots</h3>
  <table>
    <tr>
      <td><button type="button" name="button"><%= link_to "Click here", new_user_vote_path(@user.id) %></button></td>
    </tr>
    <% @ball.each do |b| %>
    <tr>
      <td><%= b.ballot_name %></td>
      <td><button type="button" name="button"><%= link_to "Click here", new_user_ballot_vote_path(@user.id, b.id) %></button></td>
    </tr>
    <% end %>
  </table>
</div>
