<%= form_tag({:controller => "front_pages", :action => "create"}, :multipart => true) do %>
  <div class="field">
    <%= label_tag :file %>
    <%= file_field_tag :file %>
  </div>
  <div class="actions">
     <%= submit_tag 'Submit' %>
  </div>

<% end %>
