<% provide(:title, "Help") %>
<br>
<br>
<h1 style= "color:#FFA141"><strong>Voting Help</strong></h1>
<h3>What is Ranked Voting?</h3>
<ul>
    <li>This is a method of voting that allows users to rank choices by order of preference. </li>
</ul>
<h3>Can I rank one candidate multiple times?</h3>
<ul>
<li>
No, you cannot. If  you want to rank candidates you must choose different ones for each rank.
</li>
</ul>
<h3>Can I only choose one candidate?</h3>
<ul>
<li>
Yes, you can only rank your first choice, but if they are discounted from the race your vote 
will not be counted and you will not have a say in the position of the other candidates.
</li>
</ul>
<h3>Can I submit my vote multiple times?</h3>
<ul>
<li>
No, you should not be able to submit your vote more than once. If you think that you might have and that there
was an error in the system please contact us.
</li>
</ul>
<h3>Still Confused?</h3>
<div style="position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">
	<iframe  width="425" height="344" src="https://www.youtube.com/watch?v=oHRPMJmzBBw" frameborder="0" allowfullscreen 
			style="position:absolute; top:0; left:0; width:100%; height:100%;">
	</iframe>
</div>
<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact" >
  <h3 class="w3-center" style="text-align:center">TECHNICAL ISSUES? QUESTIONS? COMMENTS?</h3>
  <p class="w3-center"style="text-align:center"><em>Contact Us!</em></p>

    <div class="w3-col m8 w3-panel" style= "text-align:center">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Office: OSA Buntrock Commons 107<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: odt@stolaf.edu<br>
      </div>
    </div>
</div>

