<% provide(:title, "Home") %>
<h1>Home Page</h1>
<p>Welcome to the home page for the voting app</p>

<p>Here are the rules for voting....</p>

<p>Ready to vote please login pressing the button below</p>
<button type="button" name="button">Click Here!</button>
