<% provide(:title, "Home") %>

<div class="center jumbotron" style = "background-color:white">

<header class="header">

    <% if logged_in? == false%>

      <%= image_tag("SGA_Lion_Grey.png", :alt => "ole with rainbows", style: "width: 425px; height: 325px") %>
      <%= link_to "Log In", "/auth/google_oauth2", id: "sign_in", class: "btn btn-lg btn-primary", style: "padding:1px; background-color:white; color:#FFA141; font-size: 124px; font-weight: bold; border-color:white "%>

    <% else %>

      <a href="<%= "/users/#{current_user.id}/votes/new" %>" id="vote_link">Vote Here</a>

      <!-- <script>
        window.location.href = document.querySelector('#vote_link').href
      </script> -->
       <%= link_to "VOTE HERE", new_user_vote_path(current_user.id), style: "padding:1px; background-color:white; color:#2E4553; font-size: 36px" %>

    <% end %>

</header>

</div>
