<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to voting app</h1>
  <h2>Thi is the home page</h2>

  <p>Here are the rules for voting....</p>

  <%= link_to "login!", '#', class: "btn btn-lg btn-primary" %>
  <button type="button" name="button">Click Here!</button>
</div>
