<% provide(:title, "Thank you") %>

<div class="center jumbotron">
  <br/>
  <br/>
  <h1>Thank you for voting! Every vote counts</h1>
  <h3>Questions? Comments? Concerns? Email odt@stolaf.edu</h3>


  <%= link_to "logout", logout_path, class: "btn btn-lg btn-primary" %>
</div>
