<% provide(:title, "Results") %>
<h1>Here are the votes</h1>
<div>
  <table cellspacing="8" width="50%" id="table_of_ballot">
    <tr>
      <td>Number of votes</td>
      <td><%= Vote.count %></td>
    </tr>
    <tr>
      <td>Candidates</td>
      <td>Rankings</td>
    </tr>
    <% @vot.each do |us|  %>
    <tr>
      <td><%= us.candidate_name %></td>
      <td class="rank"><%= us.rank %></td>
    </tr>
    <% end %>
  </table>
</div>

<!-- #how summation for votes will work: Vote.where(:rank => nil).sum(:user_id) -->
