<% provide(:title, "Results") %>
<h1>Here are the votes</h1>
<div>
<h2> The winner is <%= ranked_voting(@user,@vot,@candidates,@rank) %> </h2>
</div>
<div>
  <table cellspacing="8" width="50%" id="table_of_ballot">
    <tr>
      <td>Candidates</td>
      <% @rank.each do |ran| %>
      <td><%=ran %> Choice</td>
      <% end %>
    </tr>
    <tr>
      <% @candidates.each_with_index do |p, p_index| %>
      <th><%= p %></th>
        <% @rank.each_with_index do |r, r_index|%>
        <td>
            <%= @vot.where(:candidate_name => p_index, :rank => r_index).count%>
        </td>
        <% end %>
    </tr>
      <% end %>
  </table>
</div>
