<footer class="footer">
  <small>
    The <a href="https://en.wikipedia.org/wiki/Ranked_voting">Ranked Voting App</a>
    by <a href="https://github.com/iwuji1/votingapp/">Obinna Iwuji</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
